@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: 
    radial-gradient(circle at 30% 20%, rgba(51, 138, 255, 0.4), transparent 60%),  /* Blue */
    radial-gradient(circle at 70% 40%, rgba(255, 185, 51, 0.4), transparent 60%),  /* Orange */
    radial-gradient(circle at 50% 70%, rgba(255, 51, 51, 0.4), transparent 60%),   /* Red */
    linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
